.nav-list {
    display: flex;
    gap: 25px;
    align-items: center;
}

.right-side-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 auto;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    color: var(--black-color);
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    right: 100%;
    left: 0;
    bottom: 0px;
    height: 1px;
    background-color: var(--black-color);
    transition: .22s right;
}

.nav-link:hover::after {
    right: 0;
}

.button-price {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 15px;
}

.text-price {
    font-size: 18px;
    font-weight: 400;
}

.search-button, .cart-button {
    background-color: var(--white-color);
}

@media (max-width: 810px) {
    .header-page {
        display: none;
    }
}

